@import "./assets/styles/header.css";
@import "./assets/styles/loader.css";
@import "./assets/styles/main.css";
@import "./assets/styles/animatedCss.css";
@import "./assets/styles/dist/skeletabs.css";
@import "./assets/styles/dist/skeletabs.min.css";

/* @import "./assets/styles/owl.carousel.css";
@import "./assets/styles/plugins.css";
@import "./assets/styles/site-main.css";
@import "./assets/styles/stellarnav.min.css";
@import "./assets/styles/themify-icons.css";
@import "./assets/styles/bootstrap.min.css"; */



.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1;
}
